@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Zen Maru Gothic","M PLUS Rounded 1c",
	sans-serif;
  font-weight: 500;
  font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
img{
	display: block;
	border: none;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}
#furusato a:visited{
	color: #FFFFFF;
}
#furusato p{
	font-size: 36px;
  padding-top: 19px;
	padding-left: 50px;
}
#furusato{
	height: 97px;
	width: 569px;
	background-color: #8BBFA7;
}
#title{
	width: 569px;
	float: left;
}
.loginform{
	width: 797px;
	padding-top: 115px;
	float: left;
	text-align: center;
}
.loginform h1{
	color: #132847;
	font-size: 90%;
}
form input[type = "email"],form input[type = "password"] {
  border: 2px inset#707070;
  background: none;
	width: 500px;
	height: 60px;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	font-size: 25px;
}
form input[type = "submit"]{
  background-color: #F4AF1B;
  display: block;
  border: none;
  width: 500px;
	height: 60px;
  margin: 0 auto;
	margin-top: 15px;
  outline: none;
  color: white;
  border-radius: 40px;
  transition: 0.25s;
  text-align: center;
	font-size: 24px;
	font-family: "Zen Maru Gothic","M PLUS Rounded 1c",
	sans-serif;
	font-weight: 500;
  cursor: pointer;
}
#touroku{
	padding-top: 60px;;
}
.head-border {
    display: flex;
    align-items: center;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}

.head-border:before {
    margin-right: 1rem;
	  margin-left: 7rem;
}

.head-border:after {
    margin-left: 1rem;
	  margin-right: 7rem;
}
#touroku h2{
	margin-top: 35px;
	margin-bottom: 30px;
}
#touroku p{
	line-height: 2;
}
#tourokubutton{  
    display: block;
	  margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 10px 10px;
	  margin-top: 15px;
    background: #F4AF1B;
    border: none;
	  border-radius: 40px;
	  font-size: 24px;
	  color: #FFFFFF;
}
