@media (max-width: 767px){
	*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Zen Maru Gothic","M PLUS Rounded 1c",
	sans-serif;
  font-weight: 500;
  font-style: normal;
	font-size: 16px;
	line-height: 1.5;
}

li{
	list-style-type: none;
}
img{
	display: block;
	border: none;
}
	#logo{
	font-size: 100%;
	color: #fff;
	margin-left: 10px;
	margin-top: 24px
}
#headerinner{
	background-color: #8BBFA7;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 97px;
}
	.pc_headersub{
		display:none !important; }
	
	#gnavi{
		display: none;
	}
	main{
	clear: both;
	overflow: hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
	#topphoto img{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#pc_mainbtn{
		display: none;
	}
	
#copyright{
	color: #132847;
	text-align:center;
	font-size: 120%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	
.menulogo{
	margin-left: auto;
	margin-right: auto;
}
#select{
	margin-top: 20px;
}
#selectmenu{
 display: flex;
flex-direction: column;
}

#support{
	position: relative;
	margin-top: 130px;
	height: 312px
}
#support1{
	font-size: 19px;
	color: #132847;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
}
#support2{
	font-size: 19px;
	color: #132847;
	position: absolute;
	top: 75%;
	left: 47%;
	transform: translate(-50%, -50%);
}
}